- var url = 'http://dev.ucoz.club';
//- Следующие строки не надо добавлять в шаблон сайта он автоматически их подгружает, необходимо удалять в ручную из билда

link(type="text/css" rel="stylesheet" href=url + "/.s/src/base.css")
link(type="text/css" rel="stylesheet" href=url + "/.s/src/layer7.css")

script(type="text/javascript" src=url + "/.s/src/jquery-1.10.2.js")
script(type="text/javascript" src=url + "/.s/src/uwnd.js?2")

link(type="text/css" rel="stylesheet" href=url + "/.s/src/ulightbox/ulightbox.css")
script(type="text/javascript" src=url + "/.s/src/ulightbox/ulightbox.js")

// - Эти файлы мы подключаем к шаблону

link(type='text/css' rel='stylesheet', href=url + '/_st/my.css')
link(type='text/css' rel='stylesheet' href='/assets/css/style.css')